@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"),
    url("../../fonts/Lato-v2/Lato-Black.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Black.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Black.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("../../fonts/Lato-v2/Lato-Hairline.eot");
  src: local("Lato Hairline"), local("Lato-Hairline"),
    url("../../fonts/Lato-v2/Lato-Hairline.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Hairline.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Hairline.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Semibold.eot");
  src: local("Lato Semibold"), local("Lato-Semibold"),
    url("../../fonts/Lato-v2/Lato-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Semibold.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Semibold.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Heavy.eot");
  src: local("Lato Heavy"), local("Lato-Heavy"),
    url("../../fonts/Lato-v2/Lato-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Heavy.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Heavy.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Light.eot");
  src: local("Lato Light"), local("Lato-Light"),
    url("../../fonts/Lato-v2/Lato-Light.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Light.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Light.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../../fonts/Lato-v2/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Bold.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Bold.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../../fonts/Lato-v2/Lato-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Regular.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Regular.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Thin.eot");
  src: local("Lato Thin"), local("Lato-Thin"),
    url("../../fonts/Lato-v2/Lato-Thin.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Thin.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Thin.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-v2/Lato-Medium.eot");
  src: local("Lato Medium"), local("Lato-Medium"),
    url("../../fonts/Lato-v2/Lato-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Lato-v2/Lato-Medium.woff2") format("woff2"),
    url("../../fonts/Lato-v2/Lato-Medium.woff") format("woff"),
    url("../../fonts/Lato-v2/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
